*{
  margin: 0px;
  padding: 0px;
  /* outline: 1px dotted red; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  font-style: normal; 
  font-variant: normal; 
  background-color: white;
}

#wrapper{
  width: auto;
  height: auto;
  margin: 5px;
  padding: 5px;
  text-align: left;
  border-radius: 3px;
}

a {
  color: black; 
  text-decoration: none;
}


ul {
  list-style-type: none;
}

p { 
  text-indent: 1em;
}

.bold{
  font-weight: 700;
}

.resize{
  margin: 10px 5px 0px 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 3px;
}

.bordered{
  border: 1px solid #C8C8C8;
}


#navbar{
  width: auto;
  height: auto;
  text-align: center;
  margin: 5px;
  border: 0px;
  padding: 5px;
  border-radius: 3px;
}

#header{
  height: auto;
}


#footer{
  height: 100px;
  margin-bottom: 20px;
}


#ad-low{
  margin-bottom:20px;
}

.linktome{
  text-align: center;
  padding-top: 10px;
}

.link-img{
  width: 35px;
}


@media only screen and (max-width: 480px){
  #wrapper{
    width: auto;
  }
  h1{ display: none; }
  h2{ display: none; }
  h3{ display: block; }
  h4{ font-size: 18pt; }
  h5{ font-size: 16pt; }
  h6{ font-size: 14pt; }
}
@media only screen and (min-width: 481px){
  #wrapper{
    width: auto;
  }
  h1{ display: none; }
  h2{ display: block; }
  h3{ display: none; }
  h4{ font-size: 22pt; }
  h5{ font-size: 20pt; }
  h6{ font-size: 18pt; }
}
@media only screen and (min-width: 1024px){
  #wrapper{
    width: auto;
  }
  h1{ display: block; }
  h2{ display: none; }
  h3{ display: none; }
  h4{ font-size: 26pt; }
  h5{ font-size: 24pt; }
  h6{ font-size: 12pt; }
}

